* {
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
ul, ol {
    list-style: none
    margin: 0px
    padding: 0px
}
a {
    text-decoration: none;
    color: #576b95;
}
a:hover,
a:link,
a:active,
a:visited {
	text-decoration: none
}
img {
	border: 0
}

/*
* 字体大小设置
*/
$font-size12 = 12px
$font-size13 = 13px
$font-size14 = 14px
$font-size15 = 15px
$font-size16 = 16px
$font-size18 = 18px
$font-size24 = 24px
/*
* 颜色值设置
*/
$ffffff = #ffffff
$f6f8f9 = #f6f8f9
$999999 = #999999
$f25500 = #f25500
/*
* margin设置
*/
$margin5 = 5px
$margin10 = 10px
$margin15 = 15px
$margin20 = 20px
$marginAuto = auto
/*
* padding设置
*/
$paddingTop5 = 5px
$paddingTop10 = 10px
$paddingTop15 = 15px
$paddingTop20 = 20px