h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none
    margin: 0px
    padding: 0px
}
a {
    text-decoration: none;
    color: #576b95;
}

/*
* 字体大小设置
*/
$font-size12 = 12px
$font-size13 = 13px
$font-size14 = 14px
$font-size15 = 15px
$font-size16 = 16px
$font-size18 = 18px
/*
* 颜色值设置
*/
$ffffff = #ffffff
$f6f8f9 = #f6f8f9
$999999 = #999999
/*
* margin设置
*/
$marginTop5 = 5px
$marginTop10 = 10px
$marginTop15 = 15px
$marginTop20 = 20px
$marginRight5 = 5px
$marginRight10 = 10px
$marginRight15 = 15px
$marginRight20 = 20px
$marginBottom5 = 5px
$marginBottom10 = 10px
$marginBottom15 = 15px
$marginBottom20 = 20px
$marginLeft5 = 5px
$marginLeft10 = 10px
$marginLeft15 = 15px
$marginLeft20 = 20px
$marginAuto = 0 auto

/*
* 按钮设置
*/
.addBtn {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f25500;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

/*
* 表格设置
*/
.tableDataList {
    background: $ffffff;
    overflow: hidden;
    padding: 30px;
}